@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    transition: background-image .5s;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
}

.date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 600px;
    padding-top: 150px;

}

.date__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 170px;
    margin-bottom: 48px;
    text-align: center;
    gap: 10px;
    font-weight: 600;
}

.hours,
.minutes,
.seconds {
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 15px;
    width: 220px;
}


h1 {
    margin-bottom: 24px;
}

.quote {
    height: 300px;
    width: 100%;
    padding-top: 100px;

}

#content {
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    font-style: italic;
}

#author {
    margin-top: 50px;
    font-weight: 500;
    font-size: 20px;
    text-align: right;
}

.update__background {
    position: fixed;
    bottom: 20px;
    right: 60px;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 50%;
    background-image: url('assets/icons/update.png');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    cursor: pointer;
}

/*--------------section weather--------------*/

.weather {
    top: 50px;
    right: 50px;
    position: relative;
    width: 400px;
    height: 100px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 15px;
    padding: 20px;
    color: white;
    transition: height .6s ease;
}

.search-container {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.search-container i {
    position: absolute;
    left: 10px;
    font-size: 28px;
}

.search-container input {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 48px 0 42px;
}

.search-container input::placeholder {
    color: #fff;
    text-transform: capitalize;
}

.search-container button {
    position: absolute;
    right: 0;
    width: 40px;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 28px;
    cursor: pointer;
    color: #fff;
    padding: 0 40px 0 15px;
}

.weather-box {
    text-align: center;
    margin: 40px 0;
}

.weather-box,
.weather-details,
.not-found {
    overflow: hidden;
    visibility: hidden;
}

.weather-box.active,
.weather-details.active,
.not-found.active {
    visibility: visible;
}

.weather-box .box,
.not-found .box {
    transform: translateY(-100%);
}

.weather-box.active .box,
.not-found.active .box {
    transform: translateY(0%);
    transition: transform 1s ease;
    transition-delay: .6s;
}

.weather-box img {
    width: 60%;
}

.weather-box .temp {
    position: relative;
    font-size: 64px;
    line-height: 1;
    font-weight: 700;
    margin: 20px 0 6px -30px;
}

.weather-box .temp span {
    position: absolute;
    font-size: 24px;
    margin-left: 4px;
}

.weather-box .description {
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;
}

.weather-details .humidity,
.weather-details .wind {
    display: flex;
    align-items: center;
    width: 50%;
    transform: translateY(-100%);
}

.weather-details.active .humidity,
.weather-details.active .wind {
    transform: translateY(0%);
    transition: transform 1s ease;
    transition-delay: .3s;
}

.weather-details .humidity {
    padding-left: 20px;
    justify-content: flex-start;
}

.weather-details .wind {
    padding-right: 20px;
    justify-content: flex-end;
}

.weather-details i {
    font-size: 56px;
    margin-right: 10px;
}

.weather-details span {
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
}

.weather-details p {
    font-size: 12px;
    font-weight: 500;
}

.not-found {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 110px;
}

.not-found img {
    width: 65%;
}

.not-found p {
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

/*--------------section To-Do List--------------*/

.todo-list {
    position: relative;
    top: 50px;
    left: 50px;
    width: 400px;
    height: 600px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 15px;
    padding: 20px;
    color: white;
    transition: height .6s ease;

}

.todo-list__field {
    width: 100%;
    position: relative;
}

.add__task {
    height: 50px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.add-field {
    width: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 48px 0 42px;
}

.add-field::placeholder {
    color: white;
}

.add-button {
    position: absolute;
    right: 0;
    width: 40px;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 35px;
    cursor: pointer;
    color: #fff;
    padding: 0 45px 0 15px;
}

.pending__tasks {
    margin: 20px 0;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    border-bottom: 2px solid white;
}

.task {
    border-bottom: 1px solid lightgrey;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 45px;
}

.task.completed .ticket {
    background-image: url(assets/icons/tick.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
}

.task.completed .text {
    text-decoration: line-through;
}

.ticket {
    width: 25px;
    height: 25px;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 3px;
    background-color: transparent;
    outline: none;
}

.text,
.edit {
    width: 70%;
    height: 30px;
    box-sizing: border-box;
    padding: 5px;
}

.text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.edit {
    display: none;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    font-size: 22px;
    color: #fff;
}

.buttons__wrapper {
    width: 23%;
    display: flex;
    justify-content: space-between;
}

.edit-btn {
    width: 40px;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 35px;
    cursor: pointer;
    color: #fff;
}

.save-btn {
    display: none;
    width: 40px;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 35px;
    cursor: pointer;
    color: #fff;
}

.delete-btn {
    width: 40px;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 35px;
    cursor: pointer;
    color: #fff;
}

.completed__tasks {
    margin: 20px 0;
    height: 200px;
    overflow: auto;
}

.buttons_wrapper {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.buttons_wrapper button {
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, .2);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size: 15px;
}